@import './styles/_variables.scss';
@import './styles/_tokens.scss';
@import './styles/_typography.scss';
@import './styles/_layout.scss';

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

